/**/**/bin
/**/**/obj

.vs/
publish/
MakiMoki/
*.csproj.user
src/core/MakiMoki.Core/Exceptions/Exceptions.cs
src/core/MakiMoki.Core/Helpers/UpdateNotifyer_Tx.cs
src/wpf/MakiMoki.Wpf/Properties/AssemblyInfoDebug.cs
