@charset "utf-8";

:root {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-size: var(--font-size-normal);
}

h1 {
    font-weight: bold;
    font-size: var(--font-size-large-x);
}

h2 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: var(--font-size-large);
    margin-top: 32px;
    margin-left: 8px;
}

h3 {
    font-weight: bold;
    margin-left: var(--base-margin);
    font-size: var(--font-size-large);
}

a {
    color: var(--secondary-color);
    text-decoration: none;;
}

a:hover, a:active {
    color: var(--secondary-color-active);
    text-decoration: underline;
}

q, blockquote {
    color: var(--quot-color);
}

q::before, q::after {
    content: "";
}