@charset "utf-8";
@import url("./common.css");
@import url("./common-style.css");

h2 {
    margin-top: 32px;
    margin-left: 8px;
}

h3 {
    margin-left: var(--base-margin);
}

ul, p, table {
    margin: 0;
    padding: 0;
    margin-left: var(--base-margin);
}

p {
    max-width: 1024px;
}

ul li {
    list-style-type: none;
}

ul li::before {
    content: "☐";
    color: var(--primary-color);
    margin-right: 4px;
}

ul li.checked::before {
    content: "☑";
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: solid 1px var(--foreground-color);
    padding: 4px;
}

#screenshot-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: var(--base-margin);
    max-width: 1024px;
}

#screenshot-section div {
    width: 360px;
    margin-right: 4px;
    margin-bottom: 4px;
}

#screenshot-section div.orig {
    width: initial;
}

#screenshot-section div img {
    width: 100%;
    height: auto;
}


#qa-section p, #qa-section table {
    margin-bottom: var(--font-size-normal);
}

#contact-section p {
    margin-bottom: var(--font-size-normal);
}